body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 239, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Login */
.toplink {
  color: white;
  text-decoration: none;
}

#main {
  margin-top: 150px;
}
#back {
  background-color: rgb(233, 239, 255);

}
#backcolor {
  background-color: rgb(233, 239, 255);
  margin-left:255px;
}

#btn {
  border-radius: 50px;
  margin-top: 100px;
  width: 63%;
}

hr {
  width: 63%;
}

#link {
  margin-left: 170px;
}

#side {
  position:fixed;
  min-height: 729px;
  background-color: #4426FF;
}

#head {
  min-height: 60px;
  text-align: right;
  background-color: white;
  width: 1265px;
  color: black;
  font-size: 35px;
  padding-top: 3px;
  padding-right: 50px;
  margin-left: -10px;
}

p {
  font-size: 20px;
  font-weight: 500;
}

p:hover {
  padding: 8px 10px;
  min-height: 40px;
  width: 80%;
  background-color: rgb(88, 105, 236);
  border-radius: 30px;
  transition: 1s;
}

.font {
  margin-right: 10px;
}

#navigation {
  display: grid;
  grid-template-columns: 75% 25%;
}

#navigation div button {
  margin: 10px;
}

section {
  border-radius: 20px;
  padding: 15px;
}

#grid {
  width: 100%;
  border-collapse: collapse;
}

#grid tr,
#grid th,
#grid td {
  border-bottom: 0.5px solid rgb(227, 225, 225);
  padding: 10px 25px 10px;
}


/* Pop up for new job/docket */


#popup{
  background-color: rgb(233, 239, 255, 0.5); /* Semi-transparent background */
  
  width: 80%;
  margin:15px;
  min-height: 660px;
  border-radius:20px ;
  position:fixed;
  backdrop-filter: blur(50px);
  inset:15px 140px 20px;
}
#popup h3{
  padding:10px ;
}
#nav{
  display:grid;
  grid-template-columns:90% 10%;
}
#remove{
  border: none;
  background: none;
  color: grey;
  font-size: 20px;
  padding: 0px;
  margin-right: 0px;
}
.input{
  background-color: white;
  border-radius: 20px;
  margin:10px;
}
.input tr td{
  padding: 15px;
  width:8%;
}
.heading{
  padding: 10px;
}